@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/lato/lato-v25-latin-regular.woff") format("woff"), url("../assets/fonts/lato/lato-v25-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato Bold";
  src: url("../assets/fonts/lato/lato-v25-latin-700.woff") format("woff"), url("../assets/fonts/lato/lato-v25-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../assets/fonts/red_hat/red-hat-display-v21-latin-regular.woff") format("woff"), url("../assets/fonts/red_hat/red-hat-display-v21-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Red Hat Display Medium";
  src: url("../assets/fonts/red_hat/red-hat-display-v21-latin-500.woff") format("woff"), url("../assets/fonts/red_hat/red-hat-display-v21-latin-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Red Hat Display Semibold";
  src: url("../assets/fonts/red_hat/red-hat-display-v21-latin-600.woff") format("woff"), url("../assets/fonts/red_hat/red-hat-display-v21-latin-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
.btn {
  padding: 10px 45px;
  background: #565656;
  color: #fff;
  font-family: "Lato Bold", sans-serif;
  border: 1px solid #565656;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

html,
body {
  font-size: 16px;
  color: #565656;
  font-family: "Lato", sans-serif;
}

a,
button {
  cursor: url("../assets/img/cursor.svg"), pointer;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 34px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    padding: 0 10px;
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .flex-container {
    gap: 20px;
  }
}

@media screen and (max-width: 320px) {
  .wrap-reverse {
    flex-direction: column-reverse;
  }
}

.header {
  padding: 40px 0;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 20px 0;
  }
}

.nav {
  flex-grow: 1;
}
@media screen and (max-width: 768px) {
  .nav {
    order: 2;
    flex-grow: 0;
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.91vw;
  padding: 0 3.75vw;
}
@media screen and (max-width: 768px) {
  .menu {
    position: absolute;
    right: -100%;
    top: 65px;
    opacity: 0;
    flex-direction: column;
    background-color: #97cbca;
    padding: 0 0;
    transition: all 0.5s;
    width: 100%;
    gap: 0;
  }
}
@media screen and (max-width: 768px) {
  .menu__item {
    padding: 20px 0;
    border-bottom: 1px solid #fff;
    width: 100%;
    text-align: center;
  }
}
.menu__link {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.3em;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  position: relative;
}
.menu__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 0;
  background-color: #000;
  transition: all 0.4s;
  opacity: 0;
}
.menu__link:hover::after {
  opacity: 1;
  width: 72%;
}

.burger {
  display: none;
}
@media screen and (max-width: 768px) {
  .burger:checked ~ .menu {
    opacity: 1;
    right: 0;
  }
  .burger:checked ~ .burger__img {
    transform: rotate(587deg);
    transition: all 0.4s;
  }
  .burger:checked ~ .burger__img::before {
    opacity: 0;
  }
  .burger:checked ~ .burger__img::after {
    top: 0;
    transform: rotate(90deg);
  }
}
.burger__img {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .burger__img {
    display: inline-block;
    position: relative;
    top: -3px;
    width: 34px;
    height: 2px;
    background-color: #292729;
  }
  .burger__img::before, .burger__img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #292729;
    top: 10px;
  }
  .burger__img::after {
    top: -10px;
  }
}

.hero {
  width: 100%;
  height: 600px;
  padding-top: 100px;
  background: url("../assets/img/bg_image.png") center/cover no-repeat;
}
@media screen and (max-width: 768px) {
  .hero {
    padding-top: 30px;
  }
}
@media screen and (max-width: 320px) {
  .hero {
    padding-top: 70px;
  }
}

.title_1 {
  max-width: 770px;
}

.title {
  font-family: "Red Hat Display", sans-serif;
  color: #000;
}
.title_1 {
  font-size: 3rem;
  line-height: 1.33;
  font-weight: 600;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
  .title_1 {
    font-size: 2.25rem;
    line-height: 1.39;
    font-weight: 600;
    letter-spacing: 0.05em;
  }
}
@media screen and (max-width: 320px) {
  .title_1 {
    font-size: 1.88rem;
    line-height: 1.67;
    font-weight: 600;
    letter-spacing: 0.05em;
  }
}
.title_2 {
  font-size: 3rem;
  line-height: 1.33;
  font-weight: 400;
  letter-spacing: 0.05em;
}
.title_3 {
  font-family: "Red Hat Display Semibold", sans-serif;
  font-size: 1.75rem;
  line-height: 1.67;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.title_4 {
  font-family: "Red Hat Display Medium", sans-serif;
  font-size: 1.38rem;
  line-height: 1.67;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.section {
  margin-top: 90px;
}
@media screen and (max-width: 768px) {
  .section {
    margin-top: 70px;
  }
}

.article {
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .article__img {
    width: 340px;
    height: 280px;
  }
}
@media screen and (max-width: 320px) {
  .article__img {
    width: 300px;
    height: 250px;
  }
}
.article__descr {
  flex-grow: 1;
  font-size: 1rem;
  line-height: 1.67;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.article__box {
  max-width: 450px;
}
@media screen and (max-width: 768px) {
  .article__box {
    max-width: 340px;
  }
}
.article__box-reverse {
  justify-self: end;
}
.article__sup-title {
  font-size: 1rem;
  line-height: 1.67;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #7b7b7b;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .article__sup-title {
    line-height: 1.25;
  }
}
.article__title {
  font-family: "Red Hat Display Medium", sans-serif;
  font-size: 1.44rem;
  line-height: 1.67;
  font-weight: 500;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 768px) {
  .article__title {
    line-height: 1.52;
  }
}
@media screen and (max-width: 320px) {
  .article__title {
    font-size: 1.38rem;
  }
}
.article__date {
  color: #7b7b7b;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .article__date {
    margin-bottom: 40px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 320px) {
  .article__date {
    margin-top: 10px;
  }
}
.article__text {
  letter-spacing: 0.05em;
}

.arrow {
  fill: #7b7b7b;
  margin-left: 17px;
}

@media screen and (min-width: 768px) {
  .flex-reverse {
    flex-direction: row-reverse;
  }
}

.flex-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 320px) {
  .flex-heading {
    flex-wrap: wrap;
  }
}

.flex-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .flex-post {
    flex-direction: row;
    gap: 20px;
  }
}
@media screen and (max-width: 320px) {
  .flex-post {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .post-reverse {
    flex-direction: row-reverse;
  }
}

.heading__link {
  display: inline-block;
  color: #7b7b7b;
  font-size: 1rem;
  line-height: 1.67;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.post {
  max-width: 370px;
  margin-top: 50px;
  align-self: start;
}
@media screen and (max-width: 768px) {
  .post:not(:first-of-type) {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .post {
    max-width: 700px;
  }
}
@media screen and (max-width: 320px) {
  .post {
    max-width: 300px;
  }
}
.post__img {
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .post__img {
    width: 340px;
    height: 240px;
  }
}
@media screen and (max-width: 320px) {
  .post__img {
    width: 300px;
    height: 210px;
  }
}
.post__descr {
  align-self: flex-start;
}
.post__heading {
  font-size: 0.75rem;
  line-height: 1.67;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #7b7b7b;
  margin-bottom: 25px;
}
.post__sup-title {
  font-weight: 400;
}
.post__text {
  line-height: 1.67;
  letter-spacing: 0.05em;
  margin-top: 20px;
}

.flex-popular {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 320px) {
  .flex-popular {
    flex-wrap: wrap;
  }
}

.popular {
  position: relative;
}
.popular__article {
  max-width: 570px;
  margin-top: 50px;
  align-self: start;
}
@media screen and (max-width: 768px) {
  .popular__article {
    max-width: 340px;
  }
}
@media screen and (max-width: 320px) {
  .popular__article {
    max-width: 300px;
  }
}
.popular__img {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .popular__img {
    width: 340px;
    height: 160px;
  }
}
@media screen and (max-width: 320px) {
  .popular__img {
    width: 300px;
    height: 150px;
  }
}
.popular__heading {
  margin-bottom: 20px;
}
.popular__title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.btn {
  font-size: 1rem;
  line-height: 1.67;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-top: 50px;
  transition: all 0.5s;
}
.btn:hover {
  color: #565656;
  background: #fff;
  border: 1px solid #7b7b7b;
}

.flex-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .flex-info {
    gap: 50px;
  }
}
@media screen and (max-width: 320px) {
  .flex-info {
    gap: 35px;
  }
}

.info {
  margin-bottom: 90px;
}
@media screen and (max-width: 768px) {
  .info {
    margin-bottom: 70px;
  }
}
.info__title {
  font-size: 1.44rem;
  line-height: 1.67;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}
.info__arrow {
  margin-left: 0;
}
.info__side {
  max-width: 470px;
}
@media screen and (max-width: 768px) {
  .info__side {
    max-width: 700px;
  }
}
@media screen and (max-width: 320px) {
  .info__side {
    max-width: 300px;
  }
}
.info__text {
  font-size: 1.19rem;
  line-height: 1.68;
  font-weight: 400;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
  .info__text {
    text-align: right;
  }
}
@media screen and (max-width: 320px) {
  .info__text {
    text-align: left;
  }
}

.flex-side {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 35px;
}

.footer {
  padding-top: 70px;
  padding-bottom: 30px;
  background: #f4f4f4;
}
.footer__title {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .footer__title {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 320px) {
  .footer__title {
    font-size: 2rem;
  }
}
.footer__info {
  color: #000;
  font-size: 1rem;
  line-height: 1.67;
  font-weight: 400;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 768px) {
  .footer__info {
    text-align: center;
  }
}
.footer__info:first-of-type {
  margin-bottom: 15px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #565656;
  transition: all 0.3s;
}
.social__link:hover {
  background: #565656;
}
.social__link:hover .social__icon {
  fill: #fff;
}
.social__icon {
  fill: #565656;
}

.copyright {
  margin-top: 20px;
  text-align: center;
  color: #000;
  font-size: 1rem;
  line-height: 1.67;
  font-weight: 400;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 768px) {
  .copyright {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .flex-footer {
    flex-direction: column;
    gap: 40px;
  }
}/*# sourceMappingURL=main.css.map */