@mixin font_title($fontSize, $linHeight, $fontWeight, $letSpacing) {
    font-size: $fontSize;
    line-height: $linHeight;
    font-weight: $fontWeight;
    letter-spacing: $letSpacing;
}

@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}