@mixin font_title($fontSize, $linHeight, $fontweight) {
    font-size: $fontSize;
    line-height: $linHeight;
    font-weight: $fontweight;
}

@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}