$lato-font-family: "Lato", sans-serif;
$lato-bold-font-family: "Lato Bold", sans-serif;
$red-hat-font-family: "Red Hat Display", sans-serif;
$red-hat-medium-font-family: "Red Hat Display Medium", sans-serif;
$red-hat-semibold-font-family: "Red Hat Display Semibold", sans-serif;