@use "fonts";
@use "vars" as v;
@use "extends";
@use "mixins" as m;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

html,
body {
  font-size: 16px;
  color: #565656;
  font-family: v.$lato-font-family;
}

a {
  cursor: url("../assets/img/cursor.svg"), pointer;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex-container {
  @include m.flex(space-between, center);
  gap: 30px;
}

.header {
  padding: 40px 0;
}

.nav {
  flex-grow: 1;
}

.menu {
  @include m.flex(flex-end, center);
  gap: 2.91vw;
  padding: 0 3.75vw;

  &__link {
    font-family: v.$lato-font-family;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.3em;
    font-weight: 400;
    color: #000;
    text-decoration: none;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 0;
      background-color: #000;
      transition: all 0.4s;
      opacity: 0;
    }

    &:hover {
      &::after {
        opacity: 1;
        width: 72%;
      }
    }
  }
}

.hero {
  width: 100%;
  height: 600px;
  padding-top: 100px;
  background: url("../assets/img/bg_image.png") center / cover no-repeat;
}

.title_1 {
  max-width: 770px;
}

.title {
  font-family: v.$red-hat-font-family;
  color: #000;

  &_1 {
    @include m.font(3rem, 1.33, 600, 0.05em);
  }

  &_2 {
    @include m.font(3rem, 1.33, 400, 0.05em);
  }

  &_3 {
    font-family: v.$red-hat-semibold-font-family;
    @include m.font(1.75rem, 1.67, 600, 0.1em);
  }

  &_4 {
    font-family: v.$red-hat-medium-font-family;
    @include m.font(1.38rem, 1.67, 500, 0.1em);
  }
}

.section {
  margin-top: 90px;
}

.article {
  margin-top: 50px;

  &__descr {
    flex-grow: 1;
    @include m.font(1rem, 1.67, 400, 0.1em);
  }

  &__box {
    max-width: 450px;
  }

  &__box-reverse {
    justify-self: end;
  }

  &__sup-title {
    @include m.font(1rem, 1.67, 400, 0.1em);
    color: #7b7b7b;
    margin-bottom: 30px;
  }
  &__title {
    font-family: v.$red-hat-medium-font-family;
    @include m.font(1.44rem, 1.67, 500, 0.1em);
  }

  &__date {
    color: #7b7b7b;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 50px;
  }

  &__text {
    letter-spacing: 0.05em;
  }
}

.arrow {
  fill: #7b7b7b;
  margin-left: 17px;
}

.flex-reverse {
  flex-direction: row-reverse;
}


.flex-heading {
  @include m.flex(space-between, center);
}

.heading {
  &__text {
    display: inline-block;
    color: #7b7b7b;
    @include m.font(1rem, 1.67, 400, 0.1em);
  }
}

.post {
  margin-top: 50px;
  align-self: start;

  &__img {
    margin-bottom: 25px;
  }

  &__heading {
    @include m.font(0.75rem, 1.67, 400, 0.1em);
    color: #7b7b7b;
    margin-bottom: 25px;
  }

  &__sup-title {
    font-weight: 400;
  }

  &__text {
    line-height: 1.67;
    letter-spacing: 0.05em;
    margin-top: 20px;
  }
}

.popular {
    position: relative;

  &__img {
    margin-bottom: 20px;
  }

  &__heading {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}

.btn {
  @extend %btn;
  @include m.font(1rem, 1.67, 700, 0.1em);
  margin-top: 50px;
  transition: all 0.5s;

  &:hover {
    color: #565656;
    background: #fff;
    border: 1px solid #7b7b7b;
  }
}

.flex-btn {
  @include m.flex(center, center);
}

.flex-info {
  @include m.flex(space-between, start);
}

.info {
  margin-bottom: 90px;

  &__title {
    @include m.font(1.44rem, 1.67, 400, 0.1em);
    margin-bottom: 20px;
  }

  &__arrow {
    margin-left: 0;
  }

  &__side {
    max-width: 470px;
  }

  &__text {
     @include m.font(1.19rem, 1.68, 400, 0.05em);
  }
}

.flex-side {
  @include m.flex(space-between, start);
  flex-direction: column;
  gap: 35px;
}
